.container
	.jumbotron
		h1 MEAN Tutorial
		p Welcome to my MEAN stack practice page! This web app was composed entirely in MongoDB, ExpressJS, AngularJS, and NodeJS.  The source code can be located at https://github.com/ekar07/meantutorial
		
		
	.row
		.col-md-6
			div(ng-include="'/partials/main/featured-courses'")
		.col-md-6
			div(ng-include="'/partials/main/new-courses'")